#latestBlog {
    @media (max-width: 768px) {
        text-align: center;
    }

    article {
        @media (max-width: 768px) {
            display: inline-block;
            max-width: 380px;
            margin-bottom: 30px;
            text-align: left;
        }

        .articleTitle {
            font-size: 14px;

            @media (max-width: 992px) {
                font-size: 11px;
            }
        }

        .articleThumb {
            position: relative;
            margin-bottom: 20px;
        }

        .date {
            position: absolute;
            background: #95e1d3;
            left: -10px;
            bottom: 10px;
            padding: 10px 15px;
            color: $font-color;
            text-align: center;

            @media (max-width: 992px) {
                padding: 8px 12px;
            }

            .number {
                display: block;
                font-size: 28px;
                line-height: 100%;
                font-weight: 700;
                font-family: 'Montserrat',sans-serif;

                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }

            .text {
                display: block;
                font-weight: 300;
                font-style: italic;

                @media (max-width: 992px) {
                    font-size: 11px;
                }
            }
        }
    }
}
