html, body {
    line-height: 1.7;
}

body {
    color: #999;
    overflow-x: hidden;
    position: relative;
    font: {
        size: 13px;
        weight: 400;
        family: 'Roboto', sans-serif;
    }
}

.container {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0 10px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: 300;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

section {
    padding: 80px 0;

    @media (max-width: 992px) {
        padding: 45px 0;
    }

    @media (max-width: 640px) {
        padding: 30px 0;
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    outline: none;
    color: #333333;
    @extend %transition;

    &:hover {
        color: $primary-color !important;
        text-decoration: none;
    }

    img {
        border: none;
    }
}

img {
    border: none;
    max-width: 100%;
}

ul {
    list-style: none;
    li {
        list-style: none;
    }
}

ul, ul li, ol, ol li, p, form, input {
    margin: 0;
    padding: 0;
}