<header id="header">
    <div id="headerInner">
        <nav id="navigation-bar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh">MoGo</a>
                </div>
                <div class="menuItem pull-right">
                    <div id="navbar-collapse" class="collapse navbar-collapse pull-left" aria-expanded="true">
                        <nav class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh">About</a></li>
                                <li><a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh">Service</a></li>
                                <li><a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh">Work</a></li>
                                <li><a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh">Blog</a></li>
                                <li><a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh">Contact</a></li>
                            </ul>
                        </nav>
                    </div>

                    <ul class="iconsGroup nav navbar-nav">
                        <li>
                            <i class="mdi mdi-cart-outline icon"></i>
                        </li>
                        <li>
                            <i class="mdi mdi-magnify icon"></i>
                            <div class="togglesearch">
                                <input type="text" placeholder=""/>
                                <input type="button" value="Search"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="slider" class="carousel slide container" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <h2 class="sectionHeading">
                        <span class="subHeading">Creative Template</span> Welcome <br> to MoGo
                    </h2>
                    <a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh" class="header-button">Learn more</a>
                </div>
                <div class="item">
                    <h2 class="sectionHeading">
                        <span class="subHeading">Creative Template</span> Welcome <br> to MoGo
                    </h2>
                    <a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh" class="header-button">Learn more</a>
                </div>
                <div class="item">
                    <h2 class="sectionHeading">
                        <span class="subHeading">Creative Template</span> Welcome <br> to MoGo
                    </h2>
                    <a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh" class="header-button">Learn more</a>
                </div>
                <div class="item">
                    <h2 class="sectionHeading">
                        <span class="subHeading">Creative Template</span> Welcome <br> to MoGo
                    </h2>
                    <a href="https://doraemon.fandom.com/vi/wiki/Trang_Ch%C3%ADnh" class="header-button">Learn more</a>
                </div>
            </div>
            <ol class="carousel-indicators clearfix">
                <li data-target="#slider" data-slide-to="0">
                    <div class="inner">
                        <span class="number">01</span> intro
                    </div>
                </li>
                <li data-target="#slider" data-slide-to="1">
                    <div class="inner">
                        <span class="number">02</span> work
                    </div>
                </li>
                <li data-target="#slider" data-slide-to="2">
                    <div class="inner">
                        <span class="number">03</span> about
                    </div>
                </li>
                <li data-target="#slider" data-slide-to="3">
                    <div class="inner">
                        <span class="number">04</span> contacts
                    </div>
                </li>
            </ol>
        </section>
    </div>
</header>