footer {
  padding-top: 50px;
  background: #f8f8f8; }

footer .colInfo {
  margin-bottom: 30px; }

footer .footerLogo a {
  color: #ccc;
  font-size: 40px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 100%; }

footer .followUs {
  margin: 25px 0; }

footer .followUs .totalFollow {
  color: #333;
  font-weight: 500;
  font-family: 'Montserrat',sans-serif;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px; }

footer .followUs .totalFollow span {
  font-size: 18px;
  font-weight: 700; }

footer .followUs .socialNetwork .text {
  font-style: italic;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px; }

footer .followUs .socialNetwork .icon {
  display: inline-block;
  margin: 0 3px;
  font-size: 18px;
  color: #95e1d3; }

footer .subscribeForm .input-group input {
  border-color: #e7e7e7;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-style: italic;
  font-size: 15px; }

footer .subscribeForm .input-group .btn {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #95e1d3;
  border: none; }

footer .subscribeForm .input-group input, footer .subscribeForm .input-group .btn {
  border-radius: 0; }

footer .colHeading {
  margin: 0 0 25px;
  font-size: 14px; }

footer .listArticles > li {
  margin-bottom: 40px; }

footer .listArticles .articleThumb {
  width: 120px;
  margin-right: 15px;
  float: left; }

footer .listArticles .articleTitle {
  font-size: 12px;
  margin: 0 0 5px;
  line-height: 1.4; }

footer .listArticles .date {
  font-style: italic; }

footer .instagramImages a {
  float: left;
  width: 89px;
  margin: 1px; }

footer .morePhoto {
  color: #999;
  font-style: italic;
  margin-top: 10px;
  display: inline-block; }

footer .copyright {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0; }

footer .copyright a {
  color: #f28989; }

footer .subscribeForm .input-group .btn:hover {
  background: #f28989; }
